.wrapper {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 15px;
}

.wrapper li {
  margin-right: 10px;
  padding: 2px 7px;
  border-radius: 3px;
  cursor: pointer;
}

.wrapper li a {
  font-size: 14px;
  line-height: 21px;
  color: var(--secondary);
}

.active {
  background-color: var(--primary);
}

.active a {
  color: #fff !important;
}

.prevArrow {
  font-size: 22px !important;
  font-weight: 700;
}

.prevArrow:hover {
  color: var(--primary);
}

.nextArrow {
  font-size: 22px !important;
  font-weight: 700;
}

.nextArrow:hover {
  color: var(--primary);
}
