.start {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 71px);
}

.content {
  max-width: 250px;
}

.startImg {
  width: 80px;
  display: block;
  margin: 0 auto 45px;
}

.start p {
  margin: 0;
  color: var(--secondary);
  text-align: center;
  font-size: 22px;
  line-height: 140%;
}
