.start {
  max-width: 200px;
  margin: 290px auto;
}

.startImg {
  width: 80px;
  display: block;
  margin: 0 auto 45px;
}

.start p {
  margin: 0;
  color: var(--secondary);
  text-align: center;
  font-size: 22px;
  line-height: 140%;
}
