.input {
  width: 100%;
  padding: 10px 44px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  line-height: 17px;
}

@media (max-width: 768px) {
  .input {
    padding: 10px 24px 10px 44px;
    font-size: 12px;
    line-height: 15px;
  }
}
