.wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 71px);
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }
}
